/* imports */
@import url(css/reset.css);

/* root */
:root {
  /* Colors */
  --color1: #00969b;
  --color2: #c0c0c0;
  --color3: #808080;

  /* shadow */
  --shadow1: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
  --shadow2: inset -1px -1px #dfdfdf, inset 1px 1px grey;;
}



*, html {
  font-family:"Pixelated MS Sans Serif", "Microsoft Sans Serif", "MS Sans Serif", Roboto, sans-serif;
}



body {
  background-color: var(--color1);
}




/* hotbar/menu area */
.toolbar {
  padding: .3em .2em;
  width: 100%;
  background-color: var(--color2);
  box-shadow: var(--shadow1);
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toolbar > div > .toolbar-btn {
  display: flex;
  align-items: center;
  gap: .6em;
}

.toolbar > div > .toolbar-btn > p {
  font-size: 1.2em;
  font-weight: 700;
}

.status-bar {
  margin-right: .6em;
}

.filds-adjust {
  display: flex;
  align-items: center;
  gap: .6em;
  font-weight: 700;
}


.playersBars {
  width: 10vw;
}